html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #12306b;
}

ul, li {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

canvas {
    background-color: #dae1e7;
    padding: 0;
    width: 1280px;
    height: 720px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.info {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #0c0c33AA;
    border-radius: 15px;
    width: 210px;
    height: 70px;
    z-index: 25;
    padding: 10px;
    text-decoration: none;
    box-shadow: 2px 2px 8px #000;
    color: #fff;
    font: 700 1em "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.54em;
}

.info li {
    padding: 0 10px;
    font-size: 0.8em;
}

@media (min-aspect-ratio: 16/9) {
    canvas {
        width: calc(100vh * 1.777);
        height: 100vh;
    }
}

@media (max-aspect-ratio: 16/9) {
    canvas {
        width: 100vw;
        height: calc(100vw / 1.777);
    }
}